
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*reset_css*/

.clearfix {width:100%;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
 }
 
 .button{
	display: block;
	border:solid 1px #608000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background: #c8e572;
	background: -moz-linear-gradient(top,  #c8e572 0%, #99cc00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e572), color-stop(100%,#99cc00));
	background: -webkit-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: -o-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: -ms-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: linear-gradient(to bottom,  #c8e572 0%,#99cc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e572', endColorstr='#99cc00',GradientType=0 );
}

body{
	font-family:'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

#header{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
	width:100%;
	min-width: 1150px;
}

#header #logo_wrapper{
	position: relative;
	width:1150px;
	margin:0 auto;
}

#header #piclip_logo{
	background:url('/images/splite.png') no-repeat 0 -42px;
	position:absolute;
	top:0;
}

#header #header_over{
	height:41px;
	background: #4495e5;
	background: -moz-linear-gradient(top,  #4495e5 0%, #167ee5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4495e5), color-stop(100%,#167ee5));
	background: -webkit-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: -o-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: -ms-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: linear-gradient(to bottom,  #4495e5 0%,#167ee5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4495e5', endColorstr='#167ee5',GradientType=0 );
}
#header #header_over_inner{
	width:1150px;
	height:41px;
	margin:0 auto;
	background: url('/images/splite.png') no-repeat left top; 
}

#header #header_under{
	height:13px;
	border-top:solid 1px #0043CC;
	border-bottom:solid 1px #0043CC;
	background: #004CE6;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(51, 118, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(51, 118, 255, 1);
}

#main_wrapper{
	width:1150px;
	margin:0 auto;
	overflow: scroll;
}

#main{
	width:885px;
	float:left;
}

#side_menu{
	width:200px;
	float:right;
}