
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*reset_cssここまで*/
/*clearfixここから*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
  
.clearfix:after {
    clear: both;
}
  
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
 /*clearfixここまで*/
 
 /*スニペットここから*/
 .float-lef{
    float: left;
}
.float-right{
    float: right;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.visuallyhidden {/*コンテンツを隠す*/
    position: absolute;
    width: 1px; /* 0にしてしまうとダメ */
    height: 1px; /* 0にしてしまうとダメ */
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;  
}

.ir {/*テキストを隠す*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.break {
    -ms-word-break: break-all;
    word-break: break-all;
  
    word-break: break-word;
  
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
  
.ellipsis {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; /* Required for IE8 */
    -o-text-overflow: ellipsis; /* Required for Opera */
    text-overflow: ellipsis;
}

pre {
    white-space: pre-wrap;       /* Chrome & Safari */
    white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
  
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }
  
    a {
        text-decoration: underline;
    }
  
    a[href]:after {
        content: " (" attr(href) ")";
    }
  
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2), /* Looks like a bug, so may want to add: */
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    /* ここにRetinaディスプレイ用のスタイルを記述 */
}

 /*スニペットここまで*/
 .a_style{
	 color:#0044cc;
	 text-decoration: underline;
	 cursor:pointer;
 }
 
 input{
	 font-family:'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
 }
 
 .button{
	display: block;
	border:solid 1px #608000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background: #c8e572;
	background: -moz-linear-gradient(top,  #c8e572 0%, #99cc00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e572), color-stop(100%,#99cc00));
	background: -webkit-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: -o-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: -ms-linear-gradient(top,  #c8e572 0%,#99cc00 100%);
	background: linear-gradient(to bottom,  #c8e572 0%,#99cc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e572', endColorstr='#99cc00',GradientType=0 );
	cursor:pointer;
}

.tag{
	background-color:#F2F2F2;
	line-height: 1.6em;
	padding:0 3px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}
.tag > a{
	color:#4D4D4D;
	text-decoration: none;
}

.cancel_btn{
	width:9px;
	height:9px;
	background:url('/images/splite.png') -165px -42px;
	cursor:pointer;
}
.cancel_btn:hover{
	background:url('/images/splite.png') -165px -51px;
}

.input_text{
	font-size:12px;
	line-height: 2em; /* 文字の高さ */
	border: 1px solid #CCDDFF; /* 罫線 */
	padding:0 10px;
	height: 2em;
	background-color: #ffffff; /* 背景 */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}

body{
	font-family:'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	overflow: hidden;
}

#header{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
	width:100%;
	min-width: 1150px;
	position:relative;
}

#header #logo_wrapper{
	position: absolute;
	width:1150px;
	top:0;
	left: 50%;
	margin-left:-575px;
}

#header #logo_wrapper h1{
	height:83px;
}

#header #piclip_logo{
	background:url('/images/splite.png') no-repeat 0 -42px;
}

#header #header_over{
	height:41px;
	background: #4495e5;
	background: -moz-linear-gradient(top,  #4495e5 0%, #167ee5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4495e5), color-stop(100%,#167ee5));
	background: -webkit-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: -o-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: -ms-linear-gradient(top,  #4495e5 0%,#167ee5 100%);
	background: linear-gradient(to bottom,  #4495e5 0%,#167ee5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4495e5', endColorstr='#167ee5',GradientType=0 );
}
#header #header_over_inner{
	width:1150px;
	height:41px;
	margin:0 auto;
	background: url('/images/splite.png') no-repeat left top; 
}

#header #header_under{
	height:13px;
	border-top:solid 1px #0043CC;
	border-bottom:solid 1px #0043CC;
	background: #004CE6;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(51, 118, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(51, 118, 255, 1);
}

#main_scroll{
	overflow: auto;
}

#main_wrapper{
	width:1150px;
	margin:0 auto;
}

#main{
	width:885px;
	float:left;
}

#side_menu{
	width:200px;
	float:right;
	margin:35px 0 0;
}

#side_menu .tag_menu .contents_wrapper{
	border:solid 1px #CCDDFF;
	padding:5px;
}

#side_menu .tag_menu .input_text{
	display: block;
	margin:0 auto;
	width:100%;
}

#side_menu .tag_menu .tag_list{
	height:350px;
	overflow: auto;
	margin:5px 0 0 5px;
}
#side_menu .tag_menu .tag_list > li{
	list-style-type: none;
	margin:7px 0 0;
}
#side_menu .tag_menu .tag_list > li:first-child{
	margin-top:0;
}
#side_menu .tag_menu .tag_list > li .check_box{
	display: inline-block;
	margin:0 10px 0 0;
	vertical-align: middle;
	width:11px;
	height:11px;
	border:solid 1px #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
#side_menu .tag_menu .tag_list > li .check_box:hover{
	background-color:#cccccc;
}

#side_menu .date_menu{
	margin:20px 0 0;
}
#side_menu .date_menu .contents_wrapper{
	border:solid 1px #CCDDFF;
}
#side_menu .date_menu .contents_wrapper li{
	list-style-type:none;
	padding:0 0 0 31px;
	border-top:solid 1px #CCDDFF;
	font-size:13px;
	line-height: 2em;
}
#side_menu .date_menu .contents_wrapper li:first-child{
	border-top:none;
}
#side_menu .date_menu .contents_wrapper .year{
	border-top:solid 1px #CCDDFF;
	border-bottom:solid 1px #CCDDFF;
	background-color:#E6EEFF;
	font-size:13px;
	line-height: 2em;
	padding:0 0 0 31px;
	position:relative;
}
#side_menu .date_menu .contents_wrapper .year:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style:solid;
	border-width:7px 0 7px 7px;
	border-color:transparent transparent transparent #000000;
	position:absolute;
	left: 13px;
	top: 5px;
}